/* body{
    background-color: aliceblue;
    color: black;
    font-family: sans-serif;
}

li{
    display: inline-block;
    list-style-type: none;
    width: 90px;
    font-size: 8px;
}

.goat{
    background-color: dodgerblue;
    color: white;
    border: 1px solid black;
}

.ye{
    color: skyblue;
    font-weight: 800;
    font-size: 100%;
}

.stage{
    background-color: dodgerblue;
    color: white;
    font-weight: 1000;
} */


