body{
    background: linear-gradient(white, skyblue);
}
header{
    color: white;
    background-image: url(../assets/devpic.jpg);
    border: 3px solid blue;
    border-radius: 15px;
    font-weight: 10px;
     font-family:Cambria;
     height: 250px;
     text-align: center;
     box-shadow: 5px 5px 5px 5px black;
     text-decoration: blue;

}

ol{
   display: inline-block;
   width: 140px; 
}

h2{
    margin: 30px;
    font-size: 400px;
    font-family: Cambria;
    font-size: 150px;
}

ul :hover{
    color: skyblue;
    border: 2px solid white;
    border-radius: 10px;
}


main{
    border: 2px solid black;
    margin: 20px 0px;
    border: 2px solid blue;
    border-radius: 10px;
    padding: 20px;


}

footer{
    background-color: rgb(7, 7, 45);
    color: rgb(242, 236, 236);
    border: 2px;
    border-radius: 15px;
    box-shadow: 20px;


}

button{
    background-color: rgb(49, 160, 203);
    border: 2px solid black;
    border-radius: 5px;
    background-size: 200px;
    box-shadow: 10px;

}

